mixin list(classList, items)
	ul(class=classList)
		each item, i in items
			li.list__item
				a.list__link(href=item.href, title=item.title)= item.name

mixin listNav(classNav, mitems)
	ul(class=classNav)
		each mitem, p in mitems
			if p == pageId
				li.list__item.list__active
					a.list__link(href=mitem.href, title=mitem.title)= mitem.name
			else
				li.list__item
					a.list__link(href=mitem.href, title=mitem.title)= mitem.name

mixin listData(classData, ditems)
	ul(class=classData)
		each ditem in ditems
			li.list__item
				span.list__left= ditem.left
				span.list__right= ditem.right

mixin table(classTable, tableItems)
	table(class=classTable)
		each tableItem, t in tableItems
			if t == 0
				tr
					th.table__th= tableItem.domain
					th.table__th= tableItem.ip
					th.table__th= tableItem.title
			else
				tr
					td.table__td= tableItem.domain
					td.table__td= tableItem.ip
					td.table__td= tableItem.title
