svg(style='position:absolute;width:0;height:0;overflow:hidden;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-certificate(viewbox='0 0 32 32')
      path(fill='#2b414d', style='fill: var(--color1, #2b414d)', d='M19.572 10.241l-9.643 4.372 7.794 17.187 4.197-3.547 5.421-0.799c0 0-7.769-17.212-7.769-17.212z')
      path(fill='#475f6c', style='fill: var(--color2, #475f6c)', d='M12.428 10.416l9.643 4.372-7.794 17.212-4.197-3.572-5.446-0.799c-0 0 7.794-17.212 7.794-17.212z')
      path(fill='#efc75e', style='fill: var(--color3, #efc75e)', d='M28.491 12.514c0 0.924-1.324 1.699-1.524 2.573-0.2 0.899 0.675 2.173 0.3 2.998-0.4 0.824-1.924 0.924-2.473 1.624s-0.3 2.248-0.999 2.823-2.098-0.025-2.898 0.375-1.224 1.899-2.098 2.098c-0.849 0.2-1.874-0.949-2.773-0.949s-1.924 1.149-2.773 0.949c-0.874-0.2-1.299-1.699-2.098-2.098s-2.223 0.2-2.898-0.375c-0.7-0.575-0.45-2.123-0.999-2.823s-2.073-0.799-2.473-1.624c-0.375-0.799 0.5-2.098 0.3-2.998-0.25-0.874-1.574-1.649-1.574-2.573s1.324-1.699 1.524-2.573c0.2-0.899-0.675-2.173-0.3-2.998 0.4-0.824 1.924-0.924 2.473-1.624s0.3-2.248 0.999-2.823 2.098 0.025 2.898-0.375c0.799-0.4 1.224-1.899 2.098-2.098 0.849-0.2 1.874 0.949 2.773 0.949s1.924-1.149 2.773-0.949c0.874 0.2 1.299 1.699 2.098 2.098s2.223-0.2 2.898 0.375c0.7 0.575 0.45 2.123 0.999 2.823s2.073 0.799 2.473 1.624c0.375 0.799-0.5 2.098-0.3 2.998 0.25 0.874 1.574 1.649 1.574 2.573z')
      path(fill='#d7b354', style='fill: var(--color4, #d7b354)', d='M16 7.518c-2.773 0-4.996 2.248-4.996 4.996s2.248 4.996 4.996 4.996c2.773 0 4.996-2.248 4.996-4.996s-2.223-4.996-4.996-4.996zM16 14.763c-1.249 0-2.248-0.999-2.248-2.248s0.999-2.248 2.248-2.248 2.248 0.999 2.248 2.248-0.999 2.248-2.248 2.248zM16 3.521c-4.971 0-8.993 4.022-8.993 8.993s4.022 8.993 8.993 8.993 8.993-4.022 8.993-8.993-4.022-8.993-8.993-8.993zM16 20.009c-4.147 0-7.495-3.348-7.495-7.495s3.348-7.495 7.495-7.495 7.495 3.348 7.495 7.495-3.348 7.495-7.495 7.495z')
    symbol#icon-map-location(viewbox='0 0 32 32')
      path(fill='#fff', style='fill: var(--color1, #fff)', d='M28.53 13.314h-24.735l-1.965 15.594h28.375z')
      path(fill='#556080', style='fill: var(--color2, #556080)', d='M28.53 13.314l1.674 15.594h-28.375l1.965-15.594h24.735zM29.979 11.701h-27.607l-0.178 1.412-2.194 17.409h32l-0.192-1.785-1.674-15.594-0.154-1.441z')
      path(fill='#ebba16', style='fill: var(--color3, #ebba16)', d='M7.358 26.757c-0.138 0-0.276-0.009-0.413-0.025-0.117-0.014-0.236-0.036-0.351-0.067-0.288-0.074-0.46-0.368-0.386-0.655s0.367-0.462 0.655-0.386c0.071 0.018 0.142 0.032 0.213 0.040 0.217 0.027 0.436 0.020 0.653-0.008 0.297-0.035 0.564 0.172 0.601 0.466s-0.172 0.564-0.466 0.601c-0.168 0.022-0.338 0.034-0.505 0.034zM9.859 26.134c-0.216 0-0.419-0.131-0.502-0.344-0.107-0.277 0.031-0.589 0.308-0.695 0.318-0.123 0.639-0.26 0.954-0.408 0.27-0.126 0.589-0.010 0.715 0.258s0.011 0.589-0.258 0.715c-0.338 0.159-0.682 0.305-1.023 0.437-0.063 0.026-0.129 0.037-0.194 0.037zM5.37 25.203c-0.273 0-0.506-0.206-0.534-0.483-0.011-0.106-0.015-0.212-0.015-0.318 0-0.062 0.002-0.125 0.005-0.187 0.012-0.252 0.053-0.507 0.121-0.756 0.077-0.288 0.375-0.459 0.659-0.379 0.287 0.077 0.457 0.372 0.379 0.659-0.047 0.175-0.076 0.353-0.084 0.529-0.002 0.044-0.004 0.089-0.004 0.133 0 0.069 0.003 0.14 0.010 0.209 0.030 0.296-0.186 0.559-0.481 0.59-0.019 0.001-0.038 0.002-0.056 0.002zM12.726 24.666c-0.176 0-0.348-0.086-0.452-0.245-0.162-0.25-0.091-0.582 0.158-0.744 0.288-0.187 0.573-0.387 0.85-0.595 0.239-0.179 0.574-0.13 0.753 0.105 0.179 0.237 0.131 0.574-0.105 0.753-0.297 0.223-0.603 0.438-0.911 0.639-0.091 0.059-0.192 0.087-0.293 0.087zM15.285 22.703c-0.166 0-0.33-0.077-0.436-0.221-0.175-0.24-0.122-0.576 0.118-0.751 0.112-0.081 0.227-0.161 0.345-0.237 0.203-0.132 0.42-0.256 0.645-0.37 0.267-0.133 0.589-0.026 0.722 0.239s0.026 0.589-0.239 0.722c-0.19 0.096-0.373 0.2-0.543 0.31-0.101 0.066-0.2 0.134-0.297 0.205-0.096 0.069-0.207 0.103-0.316 0.103zM6.705 22.449c-0.191 0-0.376-0.102-0.473-0.281-0.142-0.261-0.045-0.587 0.216-0.729 0.279-0.151 0.576-0.245 0.884-0.28 0.156-0.018 0.319-0.017 0.479 0.004 0.294 0.039 0.502 0.309 0.462 0.603-0.039 0.294-0.302 0.501-0.603 0.462-0.072-0.010-0.146-0.010-0.218-0.001-0.17 0.018-0.335 0.071-0.491 0.155-0.082 0.044-0.169 0.065-0.256 0.065zM18.23 21.453c-0.248 0-0.472-0.173-0.525-0.425-0.062-0.291 0.123-0.576 0.413-0.638 0.346-0.074 0.718-0.136 1.107-0.184 0.297-0.044 0.563 0.172 0.6 0.467s-0.173 0.564-0.467 0.6c-0.358 0.045-0.699 0.101-1.014 0.168-0.038 0.009-0.076 0.012-0.113 0.012zM21.435 21.121c-0.287 0-0.525-0.226-0.537-0.516-0.012-0.297 0.218-0.547 0.515-0.559l1.072-0.044c0.296-0.027 0.548 0.216 0.562 0.513 0.013 0.296-0.216 0.548-0.513 0.561l-1.077 0.044c-0.007 0.001-0.015 0.001-0.023 0.001zM24.65 20.883c-0.25 0-0.474-0.175-0.526-0.429-0.060-0.291 0.127-0.575 0.418-0.636 0.311-0.064 0.541-0.154 0.724-0.282 0.235-0.183 0.593-0.153 0.773 0.080 0.182 0.235 0.159 0.559-0.075 0.741-0.030 0.023-0.059 0.045-0.091 0.066-0.293 0.206-0.661 0.355-1.114 0.449-0.036 0.008-0.073 0.011-0.109 0.011zM26.838 18.716c-0.053 0-0.106-0.008-0.159-0.024-0.283-0.088-0.443-0.389-0.354-0.673 0.029-0.092 0.046-0.183 0.052-0.272l0.002-0.062c0-0.123-0.024-0.248-0.070-0.373-0.103-0.279 0.038-0.588 0.317-0.691 0.276-0.103 0.588 0.038 0.691 0.317 0.091 0.245 0.137 0.496 0.137 0.747 0 0.045-0.002 0.090-0.004 0.134-0.012 0.174-0.045 0.347-0.098 0.518-0.071 0.23-0.284 0.378-0.514 0.378zM24.117 16.508c-0.234 0-0.45-0.154-0.517-0.392-0.081-0.286 0.085-0.583 0.371-0.663 0.419-0.118 0.859-0.154 1.283-0.097 0.294 0.040 0.501 0.31 0.461 0.605s-0.304 0.501-0.605 0.461c-0.28-0.037-0.569-0.012-0.847 0.065-0.049 0.015-0.097 0.021-0.146 0.021z')
      path(fill='#dd352e', style='fill: var(--color4, #dd352e)', d='M21.963 6.416c-0.282-2.15-1.406-4.937-5.819-4.937s-5.537 2.787-5.819 4.937c-0.154 1.179-0.068 2.376 0.177 3.539 1.349 6.395 4.684 10.229 5.472 11.065 0.092 0.098 0.246 0.098 0.339 0 0.789-0.836 4.123-4.67 5.472-11.065 0.246-1.163 0.332-2.361 0.177-3.539zM16.144 10.578c-1.885 0-3.412-1.528-3.412-3.412s1.528-3.412 3.412-3.412c1.885 0 3.412 1.528 3.412 3.412s-1.528 3.412-3.412 3.412z')
      path(fill='#b02721', style='fill: var(--color5, #b02721)', d='M16.144 3.216c-2.178 0-3.95 1.772-3.95 3.95s1.772 3.95 3.95 3.95 3.95-1.772 3.95-3.95c-0.001-2.178-1.772-3.95-3.95-3.95zM16.144 10.040c-1.585 0-2.875-1.289-2.875-2.875s1.289-2.874 2.875-2.874 2.875 1.289 2.875 2.874-1.29 2.875-2.875 2.875z')
    symbol#icon-analysis(viewbox='0 0 32 32')
      path(fill='#365558', style='fill: var(--color11, #365558)', d='M27.189 27.699c-0.13 0-0.259-0.049-0.358-0.148l-4.582-4.582c-0.198-0.198-0.198-0.518 0-0.716s0.518-0.198 0.716 0l4.582 4.582c0.198 0.198 0.198 0.518 0 0.716-0.099 0.099-0.228 0.148-0.358 0.148z')
      path(fill='#4acfd9', style='fill: var(--color12, #4acfd9)', d='M23.447 4.024c-2.595-2.595-6.044-4.024-9.714-4.024s-7.119 1.429-9.714 4.024c-5.356 5.356-5.356 14.071 0 19.427 2.595 2.595 6.044 4.023 9.714 4.023s7.119-1.429 9.714-4.023c2.595-2.595 4.023-6.044 4.023-9.714s-1.429-7.119-4.024-9.714z')
      path(fill='#9baaab', style='fill: var(--color13, #9baaab)', d='M31.849 28.845l-3.819-3.819c-0.198-0.198-0.518-0.198-0.716 0l-2.291 2.291c-0.198 0.198-0.198 0.518 0 0.716l3.819 3.819c0.099 0.099 0.229 0.148 0.358 0.148s0.259-0.049 0.358-0.148l2.291-2.291c0.198-0.198 0.198-0.518-0-0.716z')
      path(fill='#687f82', style='fill: var(--color14, #687f82)', d='M26.136 26.204l-1.113 1.113c-0.198 0.198-0.198 0.518 0 0.716l3.819 3.819c0.099 0.099 0.229 0.148 0.358 0.148s0.259-0.049 0.358-0.148l1.113-1.113-4.535-4.535z')
      path(fill='#0295aa', style='fill: var(--color15, #0295aa)', d='M3.988 4.056c-5.324 5.359-5.313 14.049 0.032 19.395 2.595 2.595 6.044 4.023 9.714 4.023 3.654 0 7.090-1.417 9.681-3.992l-19.426-19.426z')
      path(fill='#e6eaea', style='fill: var(--color16, #e6eaea)', d='M20.701 6.77c-3.842-3.842-10.093-3.842-13.934 0-1.861 1.861-2.886 4.335-2.886 6.967s1.025 5.106 2.886 6.967c1.921 1.921 4.444 2.881 6.967 2.881s5.046-0.96 6.967-2.881c3.842-3.842 3.842-10.093 0-13.934z')
      path(fill='#cdd4d5', style='fill: var(--color17, #cdd4d5)', d='M6.735 6.803c-1.841 1.857-2.854 4.318-2.854 6.934 0 2.632 1.025 5.106 2.886 6.967 1.921 1.921 4.444 2.881 6.967 2.881 2.509 0 5.018-0.95 6.934-2.849l-13.934-13.934z')
      path(fill='#fff', style='fill: var(--color1, #fff)', d='M24.94 14.243c-0.28 0-0.506-0.227-0.506-0.506 0-1.433-0.276-2.821-0.821-4.125-0.108-0.258 0.014-0.555 0.272-0.662s0.555 0.014 0.662 0.272c0.596 1.428 0.899 2.947 0.899 4.515-0 0.28-0.227 0.506-0.506 0.506z')
      path(fill='#fff', style='fill: var(--color1, #fff)', d='M22.88 7.763c-0.158 0-0.314-0.074-0.413-0.213-0.347-0.488-0.74-0.952-1.167-1.379-2.021-2.021-4.708-3.134-7.566-3.134-0.28 0-0.506-0.227-0.506-0.506s0.227-0.506 0.506-0.506c3.128 0 6.069 1.218 8.282 3.43 0.467 0.467 0.896 0.974 1.276 1.508 0.162 0.228 0.109 0.544-0.119 0.706-0.089 0.063-0.192 0.094-0.293 0.094z')
      path(fill='#9baaab', style='fill: var(--color13, #9baaab)', d='M9.889 9.721h-2.43c-0.28 0-0.506 0.227-0.506 0.506v6.75c0 0.28 0.227 0.506 0.506 0.506h2.43c0.28 0 0.506-0.227 0.506-0.506v-6.75c0-0.28-0.227-0.506-0.506-0.506z')
      path(fill='#f0353d', style='fill: var(--color18, #f0353d)', d='M14.749 10.531h-2.43c-0.28 0-0.506 0.227-0.506 0.506v5.94c0 0.28 0.227 0.506 0.506 0.506h2.43c0.28 0 0.506-0.227 0.506-0.506v-5.94c0-0.28-0.227-0.506-0.506-0.506z')
      path(fill='#ff8c29', style='fill: var(--color19, #ff8c29)', d='M19.61 8.101h-2.43c-0.28 0-0.506 0.227-0.506 0.506v8.371c0 0.28 0.227 0.506 0.506 0.506h2.43c0.28 0 0.506-0.227 0.506-0.506v-8.371c0-0.28-0.227-0.506-0.506-0.506z')
      path(fill='#365558', style='fill: var(--color11, #365558)', d='M20.69 17.484h-14.311c-0.28 0-0.506-0.227-0.506-0.506s0.227-0.506 0.506-0.506h14.311c0.28 0 0.506 0.227 0.506 0.506s-0.227 0.506-0.506 0.506z')
    symbol#icon-down-arrow(viewbox='0 0 32 32')
      path(d='M32 9.208c0 0.611-0.203 1.323-0.712 1.831l-13.533 13.533c-0.509 0.509-1.017 0.712-1.73 0.712s-1.221-0.203-1.73-0.712l-13.533-13.533c-1.018-1.018-1.018-2.544 0-3.561s2.442-1.018 3.459 0l11.803 11.803 11.803-11.803c1.018-1.018 2.442-1.018 3.459 0 0.509 0.509 0.712 1.119 0.712 1.73z')
    symbol#icon-information(viewbox='0 0 32 32')
      path(d='M16 0c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16c0-8.822-7.178-16-16-16zM16 29.091c-7.218 0-13.091-5.872-13.091-13.091s5.872-13.091 13.091-13.091 13.091 5.873 13.091 13.091c0 7.218-5.873 13.091-13.091 13.091z')
      path(d='M16 6.788c-1.069 0-1.939 0.87-1.939 1.94s0.87 1.939 1.939 1.939 1.939-0.87 1.939-1.939c0-1.070-0.87-1.94-1.939-1.94z')
      path(d='M16 13.576c-0.803 0-1.455 0.651-1.455 1.455v8.727c0 0.803 0.651 1.455 1.455 1.455s1.455-0.651 1.455-1.455v-8.727c0-0.803-0.651-1.455-1.455-1.455z')
    symbol#icon-info(viewbox='0 0 32 32')
      path(d='M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16zM17.6 24h-3.2v-9.6h3.2v9.6zM17.6 11.2h-3.2v-3.2h3.2v3.2z')
    symbol#icon-checked(viewbox='0 0 32 32')
      path(fill='#6ac259', style='fill: var(--color1, #6ac259)', d='M16 0c-8.836 0-16 7.164-16 16s7.164 16 16 16c8.837 0 16-7.164 16-16s-7.163-16-16-16zM13.065 24.219l-7.045-7.045 2.348-2.348 4.697 4.697 10.567-10.567 2.348 2.348-12.915 12.915z')



