header.header
	// container
	div.container
		div.container__column.container__column_full
			// logo
			a.logo.header_logo(href='index.html')
				img(src="img/logo/logo.jpg", alt="logo")
			include ../menu/menu
			include ../btn/btn_toggle
