+listNav('list list_horizontal header_list',
  [{
      name: 'Home',
      href: 'index.html', 
      title: 'Home page'
    },
    {
      name: 'Tools',
      href: 'tools.html', 
      title: 'Tools page'
    },
    {
      name: 'About',
      href: 'about.html', 
      title: 'About page'
    },
    {
      name: 'Privacy',
      href: 'privacy.html', 
      title: 'Privacy page'
    },
    {
      name: 'Contact',
      href: 'contact.html', 
      title: 'Contact page'
    }
  ])
