﻿.alert
  overflow hidden
  min-height 40px
  padding 10px 13px
  border-radius 4px
  margin-bottom 25px
  background-color #ccc
  @extend .clearfix
  &__title
    font-size 16px
  &__bottom
    display none
    padding 10px 0
  &__icon
    width 22px
    height 22px
    float left
    fill $grey-dark
    margin 0 6px 2px 0
  &__text
    font-size 16px
    line-height: 18px;
  &__less
  &__more
    margin 0
    color $blue
    display block
    font-size 14px
    cursor pointer
    text-align right
    text-decoration underline
  &__less
    display none
    &:hover
      text-decoration none
  &_info
    background-color #f1f1f1
    .alert
      &__icon
        fill $orange
      &__text
        color $grey-dark
  &_warning
    background-color $grey-dark
    .alert
      &__icon
        fill #fff
      &__text
        color #fff
  &.active
    .alert
      &__bottom
        display block
      &__more
        display none
      &__less
        display block
    
