﻿.btn
  cursor pointer
  transition .5s
  &:active,
  &:focus
    color #fff
    outline none
  &:active
    &:focus
      color #fff
      outline none
  &:hover
    opacity .8
  &_icon
    display block
  &_submit
    border 0
    color #fff
    font-size 16px
    padding 5px 10px
    background-color $blue
  &_toggle
    display none
    border 0
    z-index 3
    width 28px
    height 30px
    float right
    margin-top 5px
    cursor pointer
    position relative
    transform rotate(0deg)
    transition .5s ease-in-out
    background-color transparent
    .btn
      &__line
        left 0
        opacity 1
        height 2px
        width 100%
        display block
        background #ccc
        position absolute
        border-radius 3px
        transform rotate(0deg)
        transition .25s ease-in-out
        &:nth-child(1)
          top 6px
        &:nth-child(2)
          top 14px
        &:nth-child(3)
          top 22px
          

        &:nth-child(1)
          top 0px
        &:nth-child(2)
        &:nth-child(3)
          top 10px
        &:nth-child(4)
          top 20px
  &__icon
    width 100%
    height 100%
    transition 0s
.open-mobile-menu
  .btn
    &_toggle
      right 15px
      position fixed
    &__line
      &:nth-child(1)
        top 18px
        width 0%
        left 50%
      &:nth-child(2)
        transform rotate(45deg)
      &:nth-child(3)
        transform rotate(-45deg)
      &:nth-child(4)
        top 18px
        width 0%
        left 50%
