﻿*
	box-sizing border-box
body
	font-size 16px
	color $grey-dark
	background-color #fff
	font-family Lato
	&.mobile-menu-open
		height 100%
		overflow hidden
a
	color $blue
	transition all .5s ease
	text-decoration underline
	&:hover
		opacity .8
		text-decoration none
img
	height auto
	display block
	max-width 100%
	vertical-align top
p
	font-size 100%
	margin 0 0 10px
h1,
h2,
h3,
h4,
h5,
h6
	font-size 100%
	font-weight 900
h1
	font-size 24px
h2
	font-size 22px
h3
	font-size 20px
h4
	font-size 18px
h5
	font-size 16px
h6
	font-size 14px
pre
	color #333
	display block
	padding 10px
	margin 0 0 10px
	word-break break-all
	word-wrap break-word
	background-color #f5f5f5
	overflow auto
[data-togglebtn='true']
	cursor pointer
.olControlAttribution {
	right: 10px!important;
	bottom: 10px!important;
	background: rgb(242, 239, 233);
	border-radius: 4px;
	padding: 4px;
}
