﻿.description
	margin-bottom 50px
	@extend .clearfix
	&__header
		margin-bottom 10px
		@extend .clearfix
	&__icon
		width 40px
		height 40px
		float left
		display block
		margin-right 15px
	&__title
		vertical-align top
		display inline-block
		margin 10px 10px 0 0
