﻿.detail
	&__title
		font-size 26px
	&__subtitle
		font-weight 700
		margin 0 0 15px
	&__section
		margin-top 50px
		padding-top 50px
		border-top 1px solid #dedede
		@extend .clearfix
		&:first-child
			border-top 0
			margin-top 0
			padding-top 0
		&.detail
			&_location
				margin-bottom 25px
		.detail
			&__subtitle
				font-size 20px
	&_screenshot
		z-index 2
		float right
		position relative
		&_screen
			z-index 2
			width 400px
			position relative
		&_wrap
			top 14px
			left 14px
			right 14px
			height 208px
			overflow hidden
			z-index 1
			position absolute
		&_img
			position relative
	&_other-domains
		.table
			width: 500px;
			margin: auto;
			max-width: 100%;
	&_whois
		&_btn
			border 0
			width 40px
			height 40px
			right 25px
			top -8px
			position absolute
			cursor pointer
			background-color transparent
		&_update
			margin-bottom 15px
			display inline-block
		&_content
			max-height 0
			overflow hidden
			transition all .5s ease
		&.active
			.detail_whois
				&_content
					max-height 10000px
					transition all .5s ease
				&_btn
					background-position center 11px
.page-no-ip 
	.detail
		&_whois
			&_content
				overflow visible
				max-height inherit
				
