﻿.device
	&__screen
		z-index 2
		position relative
	&__screenshot
		top 14px
		left 14px
		right 14px
		height 208px
		overflow hidden
		z-index 1
		position absolute
	&__screenshot-img
		width 100%
		position relative
	&_desktop
		z-index 2
		margin auto
		width 400px
		max-width 400px
		position relative
	&_phone
		z-index 2
		margin auto
		width 200px
		max-width 200px
		position relative
		.device
			&__screen
				z-index 2
				position relative
			&__screenshot
				top 51px
				left 12px
				right 12px
				height 313px
				overflow hidden
				z-index 1
				position absolute
