﻿.header
	padding 15px 0
	margin-bottom 25px
	@extend .clearfix
	&_list
		float right
		margin-top 10px
		.list
			&__item
				padding 0 15px
			&__link
				display block
				font-size 16px
				font-weight 900
				color $grey-dark
				text-decoration none
				&:hover
					border-bottom 
			&__active
				.list
					&__link
						padding-bottom 3px
						border-bottom 2px solid $blue
	&_logo
		float left
		margin 10px 50px 0 0
		
.open-mobile-menu
	.header
		&_list
			right 0
