﻿.icon
  display inline-block
  background-position center 0
  background-repeat no-repeat
  background-image url('../img/sprites/sprite-icons.gif')
  &_small
    width 22px
    height 22px
  &_big
    width 50px
    height 50px
  &_arrow-up
    background-position center 11px
  &_ok
    background-position center -77px
  &_info
    background-position center -119px
  &_arrow-down
    background-position center -23px
  &_traffic
    background-position center -155px
  &_location
    background-position center -218px
