﻿.input
  &:focus
    outline none
  &:active
    outline none
  &_text
    padding 5px 0
    font-size 16px
    text-indent 8px
    border-radius 2px
    color $grey-dark
    border 1px solid $grey-dark
    &:focus
      outline none
      border 1px solid $grey-dark
    &:active
      outline none
  &_search
    width 50%
    margin auto
    color $blue
    height 50px
    display block
    font-size 16px
    padding 0 10px
    text-align center
    border 2px solid $blue
    
