﻿.list
  margin 0
  padding 0
  list-style-type none
  @extend .clearfix
  &_vertical
    &__item
      padding 0 10px 0 8px
      margin-bottom 5px
  &_horizontal
    .list
      &__item
        float left
  &_alphabet
    text-align center
    margin 0 0 10px
    .list
      &__item
        float none
        margin 0 3px 5px
        display inline-block
      &__link
        color #fff
        display block
        min-width 28px
        font-weight 400
        padding 4px 8px
        line-height 20px
        border-radius 2px
        text-decoration none
        background-color $blue
  &_pagination
    margin 100px 0 25px
    text-align left
    .list
      &__item
        float none
        margin 0 3px 5px
        display inline-block
      &__link
        color #fff
        display block
        font-size 16px
        min-width 28px
        font-weight 400
        padding 4px 8px
        line-height 20px
        border-radius 2px
        text-decoration none
        background-color $blue
  &_data
    margin 0 0 10px 20px
    list-style-type disc
    .list
      &__left
        font-weight bold
        margin-right 10px
  &_check
    margin 0 0 0 10px
    .list
      margin 0 0 0 30px
      &__icon
        width 20px
        height 20px
        fill $orange
        margin 0 6px 2px 0
      &__text
        vertical-align: top;
      &__item
        overflow auto
        font-size 16px
        line-height 18px
        margin-bottom 8px
        @extend .clearfix
        &_ok
          .list
            &__icon
              fill green
        &_info
          cursor pointer
          transition all .5s ease
          .list
            &__icon
              fill $orange
            &__text
              border-bottom 1px solid $grey-dark
              &:hover
                border-bottom 0
  &_alert
    margin 0 0 15px 25px
    list-style-type disc
    .list
      &__item
        font-size 14px
        margin-bottom 5px
        line-height 16px
  &_hidden
    display none
    transition: opacity .15s linear;
    &.active
      display block
      transition: opacity .15s linear;
