.logo
	float left
	display block
	margin 40px 0 0
	text-decoration none
	&__img
		display inline-block
		max-width 100%
		max-height 80px
		vertical-align top
	&__title
		font-size: 30px;
		font-weight: 700;
		margin: 18px 0 0 5px;
		display: inline-block;
