﻿// Desktop
@media (min-width: $tablet-landscape + $scrollbar)
	.container
		width $tablet-landscape
		margin auto
// Tablet landscape
@media (max-width: $tablet-landscape + $scrollbar)
	.container
		width $tablet-portrait
		margin auto
	.device
		&_desktop
			width auto
		&__screenshot
			top 9px
			left 9px
			right 9px
			height 173px
// Tablet portrait
@media (max-width: $tablet-portrait + $scrollbar)
	.container
		width $auto
		&__column
			&_half
				float none
				width $auto
	.input
		&_search
			width $full
	.device
		margin-top 25px
		margin-bottom 50px
		&_desktop
			float none
		&__screen
			float none
			margin auto
			width 400px
		&__screenshot
			height 220px
	.list
		&_data
			margin-bottom 25px
	.gauge
		display block
		margin-left auto
	.btn
		&_toggle
			z-index 11
			display block
	.header
		&_list
			top 0
			margin 0
			z-index 10
			height 100%
			width 300px
			right -310px
			overflow auto
			position fixed
			padding 74px 0 0
			background-color #f9f9f9
			transition all .5s ease
			.list
				&__item
					float none
					padding 10px 0
					text-align center
	.detail
		&_other-domains
			.table
				width 100%
// Mobile
@media (max-width: $mobile + $scrollbar)
	.device
		&_desktop
			width auto
			.device
				&__screenshot
					top 7px
					left 7px
					right 7px
					width auto
					height 70%
					overflow hidden
		&_phone
			.device
				&__screenshot
					top 52px
					left 12px
					right 12px
					width auto
					height auto
