﻿.show
	displayblock
.hide
	display none
.pull-none
	float none
.pull-left
	float left
.pull-right
	float right
.clearfix
	zoom 1
	&:before,
	&:after
		content ""
		display table
	&:after
		clear both
		
