.tabs
	&__link
		color #ccc
		cursor pointer
		padding 10px 15px 12px
		border-width 1px
		border-color #ccc
		border-style solid solid none solid
		transition all .5s ease
		&:first-child
			border-right 0
		&:hover
			color #999
		&-list
		&_active
			color #333
			&:hover
				color #333
	&__item
		display none
		padding 15px 15px
		transition all .5s ease
		border-width 1px
		border-color #ccc
		border-style solid
		@extend .clearfix
		&_active
			display block
