+list('list list_horizontal list_pagination',
  [
    {
      name: '0',
      href: 'catalog.html'
    },
    {
      name: '1',
      href: 'catalog.html'
    },
    {
      name: '2',
      href: 'catalog.html'
    },
    {
      name: '3',
      href: 'catalog.html'
    },
    {
      name: '4',
      href: 'catalog.html'
    },
    {
      name: '5',
      href: 'catalog.html'
    },
    {
      name: '6',
      href: 'catalog.html'
    },
    {
      name: '7',
      href: 'catalog.html'
    },
    {
      name: '8',
      href: 'catalog.html'
    },
    {
      name: '9',
      href: 'catalog.html'
    }
  ]
)
