footer.footer
  div.container
    div.container__column.container__column_full
      p.footer__text Every day Test Proj collects large amounts of data from the web. We provide you with, and help guide you through, as much information as possible all in one convenient place. We look forward to hearing how you are enjoying our services.  
      a.footer__link(href='privacy.html', title='Privacy Policy') Privacy Policy

script(src="js/plugins.min.js")
script(src="js/app.js")
