head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	link(sizes='16x16'   href='img/favicon/favicon-16x16.png'   rel='icon' type='image/png')

	title SEO Experiment
	link(href='css/app.css' rel='stylesheet')
	link(href='css/plugins.css' rel='stylesheet')
