doctype html
html
  include head/head
  body
    include helpers/mixins

    - var pageId = 5;

    include helpers/svg

    div.wrapper

      include header/header

      main.main
        div.container
          div.container__column.container__column_full
            h1 Catalog page

            +table('table',
              [
                {
                  domain: 'Domain',
                  ip:     'IP',
                  title:  'Title'
                },
                {
                  domain: 'a-123-z.com',
                  ip:     '50/63/202/55',
                  title:  ''
                },
                {
                  domain: 'a-1actionservices.com',
                  ip:     '72/167/191/69',
                  title:  'Home'
                },
                {
                  domain: 'a-1.ltd',
                  ip:     '50/63/202/36',
                  title:  ''
                },
                {
                  domain: 'a-1--a.com',
                  ip:     '69/172/201/217',
                  title:  ''
                },
                {
                  domain: 'a-1-hyper.com',
                  ip:     '183/90/232/40',
                  title:  ''
                },
                {
                  domain: 'a-007.com',
                  ip:     '216/38/220/22',
                  title:  'HugeDomains.com - A-007.com is for sale (A- 007)'
                }
              ]
            )
            
            include pagination/pagination

      include footer/footer
