doctype html
html
  include head/head
  body
    include helpers/mixins

    - var pageId = 6;

    include helpers/svg

    .wrapper

      include header/header

      main.main
        .detail
          .container
            .container__column.container__column_full
              h1.detail__title vk.com
          .container

            .detail__section.detail__description
              .container__column.container__column_half
                h3.detail__subtitle Short vk.com description:
                p.detail__text Vk.com took 0.97 seconds to load. This domain brings in an estimated 1436579760 visitors per month and is quite popular. Vk.com's hosting server is determined to be located in Russia. 19 years ago is when domain name vk.com was registered.
                p.detail__subtitle Website data:
                +listData(
                  'list list_vertical list_data',
                  [{
                      left: 'IP:',
                      right: '2a00:bdc0:2:18:1:0:213:17'
                    },
                    {
                      left: 'Last update:',
                      right: '2017-02-04'
                    },
                    {
                      left: 'Found by keywords: ',
                      right: 'www.vk.com, vk'
                    },
                    {
                      left: 'Registration date:',
                      right: '1997-06-24'
                    },
                    {
                      left: 'Expiration date:',
                      right: '2017-06-23'
                    }
                  ])

              .container__column.container__column_half
                .device.device_desktop
                  img.device__screen(src='img/devices/desktop@2x.png', alt='desktop')
                  .device__screenshot
                    img.device__screenshot-img(src='img/screenshots/screenshot-desktop.jpg', alt='screenshot')
            
            .detail__section.detail__whois
              .container__column.container__column_full
                h3.detail__subtitle Vk.com Whois Data
                button.detail__whois_btn.btn.btn_icon#toggleBtn
                  svg.btn__icon
                    use(xlink:href='#icon-down-arrow')
                .detail__whois_content
                  a.detail__whois_update(href='javascript:void(0);', title='Update data') Update
                  pre
                    | Whois Server Version 2.0
                    | Domain names in the .com and .net domains can now be registered with many different competing registrars. 
                    | Go to http://www.internic.net for detailed information.

                    | Server Name: VK.COM.TR
                    | Registrar: FBS INC.
                    | Whois Server: whois.isimtescil.net
                    | Referral URL: http://www.isimtescil.net

                    | Domain Name: VK.COM
                    | Registrar: GODADDY.COM, LLC
                    | Sponsoring Registrar IANA ID: 146
                    | Whois Server: whois.godaddy.com
                    | Referral URL: http://www.godaddy.com
                    | Name Server: NS1.VKONTAKTE.RU
                    | Name Server: NS2.VKONTAKTE.RU
                    | Name Server: NS3.VKONTAKTE.RU
                    | Name Server: NS4.VKONTAKTE.RU
                    | Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited
                    | Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited
                    | Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited
                    | Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited
                    | Updated Date: 13-apr-2015
                    | Creation Date: 24-jun-1997
                    | Expiration Date: 23-jun-2017

                    | &gt;&gt;&gt; Last update of whois database: Wed, 01 Feb 2017 18:12:45 GMT &lt;&lt;&lt;

                    | For more information on Whois status codes, please visit https://icann.org/epp

                    | NOTICE: The expiration date displayed in this record is the date the registrar's sponsorship of the domain name registration in the registry is currently set to expire. This date does not necessarily reflect the expiration date of the domain name registrant's agreement with the sponsoring registrar. Users may consult the sponsoring registrar's Whois database to view the registrar's reported date of expiration for this registration.

                    | TERMS OF USE: You are not authorized to access or query our Whois database through the use of electronic processes that are high-volume and automated except as reasonably necessary to register domain names or modify existing registrations; the Data in VeriSign Global Registry Services' ("VeriSign") Whois database is provided by VeriSign for information purposes only, and to assist persons in obtaining information about or related to a domain name registration record. VeriSign does not guarantee its accuracy. By submitting a Whois query, you agree to abide by the following terms of use: You agree that you may use this Data only for lawful purposes and that under no circumstances will you use this Data to: (1) allow, enable, or otherwise support the transmission of mass unsolicited, commercial advertising or solicitations via e-mail, telephone, or facsimile; or (2) enable high volume, automated, electronic processes that apply to VeriSign (or its computer systems). The compilation, repackaging, dissemination or other use of this Data is expressly prohibited without the prior written consent of VeriSign. You agree not to use electronic processes that are automated and high-volume to access or query the Whois database except as reasonably necessary to register domain names or modify existing registrations. VeriSign reserves the right to restrict your access to the Whois database in its sole discretion to ensure operational stability.  VeriSign may restrict or terminate your access to the Whois database for failure to abide by these terms of use. VeriSign reserves the right to modify these terms at any time.

                    | The Registry database contains ONLY .COM, .NET, .EDU domains and Registrars.
            
            .detail__section.detail__speed
              .container__column.container__column_full
                h3.detail__subtitle Server Load Speed
                p 
                  span 
                    b Loading Speed: 
                  span 0.969173 - exact time
                  
                .gauge#gg1

            .detail__section.detail__checklist
              .container__column.container__column_full
                h3.detail__subtitle Vk.com Code Optimization Checklist

                .tabs#tabs
                  ul.list.list_horizontal.tabs__link-list
                    li.list__item.tabs__link.tabs__link_active(data-link='1') Desktop
                    li.list__item.tabs__link(data-link='2') Mobile
                  .tabs__content
                    .tabs__item.tabs__item_active(data-item='1')
                      .container__column.container__column_half
                        .device.device_desktop
                          img.device__screen(src='img/devices/desktop@2x.png', alt='desktop')
                          .device__screenshot
                            img.device__screenshot-img(src='img/screenshots/screenshot-desktop.jpg', alt='screenshot')
                      .container__column.container__column_half
                        .gauge.gauge_single#gg2

                        .alert.alert_info
                          svg.alert__icon
                            use(xlink:href='#icon-info')
                          p.alert__text
                            | The Summary Score for vk.com is calculated by analyzing the code quality and structure and includes such elements as the level of HTML code optimization, as well as CSS and JavaScript compression.

                        ul.list.list_vertical.list_check
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text Gzip is enabled 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text CSS is minified 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text HTML is minified 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text All used images are compressed.
                          li.list__item.list__item_info(data-toggle='true')
                            svg.list__icon
                              use(xlink:href='#icon-info')
                            span.list__text There are files that block page rendering

                            ul.list.list_vertical.list_hidden
                              li.list__item /js/loader_nav827962863899_3.js
                              li.list__item /js/al/common.js?1139_3015234360
                              li.list__item /js/lang3_0.js?3694

                          li.list__item.list__item_info(data-toggle='true')
                            svg.list__icon
                              use(xlink:href='#icon-info')
                            span.list__text Leverage browser caching for the following urls:

                            ul.list.list_vertical.list_hidden(data-toggle='true')
                              li.list__item /js/loader_nav827962863899_3.js
                              li.list__item /js/al/common.js?1139_3015234360
                              li.list__item /js/lang3_0.js?3694
                      
                      canvas#myChart(width='400', height='200')

                    .tabs__item(data-item='2')
                      .container__column.container__column_half
                        .device.device_phone
                          img.device__screen(src='img/devices/phone@2x.png', alt='phone')
                          .device__screenshot
                            img.device__screenshot-img(src='img/screenshots/screenshot-phone.jpg', alt='screenshot')
                      .container__column.container__column_half
                        .gauge.gauge_small#gg3
                        .gauge.gauge_small#gg4

                        .alert.alert_info
                          svg.alert__icon
                            use(xlink:href='#icon-info')
                          p.alert__text
                            | Speed and usability scores by Google PageSpeed Insights.
                          p.alert__more(data-more='true') Show more
                          p.alert__less(data-more='true') Show less
                          .alert__bottom
                            ul.list.list_alert
                              li.list__item
                                | Speed Score
                                | Analysis of vk.com’s web page structure resulted in this grade. Contributing factors to this grade include slow elements such as uncompressed images as well as unminified JavaScript code.
                              li.list__item
                                | Usability Score 
                                | This is the calculated score of vk.com’s content analysis. The analysis takes into account mobile optimization of the UI as well as spacing of all the sites links and buttons. 
                              li.list__item
                                | For more explanation and detailed report please visit https://developers.google.com/speed/pagespeed/insights/

                        ul.list.list_vertical.list_check
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text Gzip is enabled 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text CSS is minified 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text HTML is minified 
                          li.list__item.list__item_ok
                            svg.list__icon
                              use(xlink:href='#icon-checked')
                            span.list__text All used images are compressed.
                          li.list__item.list__item_info(data-toggle='true')
                            svg.list__icon
                              use(xlink:href='#icon-info')
                            span.list__text There are files that block page rendering

                            ul.list.list_vertical.list_hidden
                              li.list__item /js/loader_nav827962863899_3.js
                              li.list__item /js/al/common.js?1139_3015234360
                              li.list__item /js/lang3_0.js?3694

                          li.list__item.list__item_info(data-toggle='true')
                            svg.list__icon
                              use(xlink:href='#icon-info')
                            span.list__text Leverage browser caching for the following urls:

                            ul.list.list_vertical.list_hidden(data-toggle='true')
                              li.list__item /js/loader_nav827962863899_3.js
                              li.list__item /js/al/common.js?1139_3015234360
                              li.list__item /js/lang3_0.js?3694

            .detail__section.detail__countries
              .container__column.container__column_half
                h3.detail__subtitle Breakdown by Countries
                table.table
                  tr
                    th.table__th Country
                    th.table__th Visits %
                    th.table__th Pageviews %
                  tr
                    th.table__td Russian Federation
                    th.table__td 52.9
                    th.table__td 56.3
              .container__column.container__column_half
                #vmap(style="width: 600px; height: 400px;")

            .detail__section.detail__content
              .container__column.container__column_full
                h3.detail__subtitle Vk.com Main Page Content
                table.table
                  tr
                    th.table__th HTML Tag
                    th.table__th Content
                    th.table__th Review
                  tr
                    th.table__td Title:
                    th.table__td Welcome! | VK
                    th.table__td Could be improved

                
                .alert.alert_info
                  svg.alert__icon
                    use(xlink:href='#icon-info')
                  p.alert__title Do you own vk.com?
                  p.alert__text Our system detected a few issues with several main page content elements:
                  ul.list.list_alert
                    li.list__item
                      | There are 13 characters in the title. By providing more relevant information and keywords you can improve this tag. 
                    li.list__item
                      | Search engine optimization as well as usability depend on well-made headings. Consider adding more information.



            .detail__section.detail__location
              .container__column.container__column_full
                h3.detail__subtitle Vk.com Server Location


            .detail__section.detail__other-domains
              .container__column.container__column_full
                h3.detail__subtitle IP 2a00:bdc0:2:18:1:0:213:16's Other Domains
                table.table
                  tr
                    th.table__th Website
                    th.table__th SFW
                  tr
                    th.table__td Funnyspirit.ru
                    th.table__td Ok

                .alert.alert_info
                  svg.alert__icon
                    use(xlink:href='#icon-info')
                  p.alert__text
                    | Your site's IP does not host any potentially harmful websites.
                  p.alert__more(data-more='true') Show more
                  .alert__bottom
                    p.alert__text
                      | "Not safe" websites are those that contain any content or images that may be deemed explicit or inappropriate for all audiences. These sites typically use tedious link building methods that are disapproved of by Google and, as a result, the entire IP may receive sanctions. As such, if vk.com is located on the same IP address as these sites, if may also be banned as well.


            .detail__section.detail__similar-domains
              .container__column.container__column_full
                h3.detail__subtitle Similar domains

                +list('list list_horizontal list_alphabet',
                  [
                    {
                      name: 'vk.expert',
                      href: '/vk.expert'
                    },
                    {
                      name: 'vk.fund',
                      href: '/vk.fund'
                    },
                    {
                      name: 'vk.lol',
                      href: '/vk.lol'
                    },
                    {
                      name: 'vk.city',
                      href: '/vk.city'
                    },
                    {
                      name: 'vk.cc',
                      href: '/vk.cc'
                    }
                  ]
                )

      include footer/footer


      script(type='text/javascript')
        | $(document).ready(function(){

        | var gg1 = new JustGage({
        | id: 'gg1',
        | value: 0.969173,
        | min: 0,
        | max: 5,
        | donut: true,
        | gaugeWidthScale: 0.6,
        | counter: true,
        | label: "miles traveled",
        | hideInnerShadow: true
        | });

        | var gg2 = new JustGage({
        | id: 'gg2',
        | value: 81,
        | min: 0,
        | max: 100,
        | donut: true,
        | gaugeWidthScale: 0.6,
        | label: "Summary score",
        | counter: true,
        | hideInnerShadow: true
        | });

        | var gg3 = new JustGage({
        | id: 'gg3',
        | value: 81,
        | min: 0,
        | max: 100,
        | donut: true,
        | gaugeWidthScale: 0.6,
        | label: "Summary score",
        | counter: true,
        | hideInnerShadow: true
        | });

        | var gg4 = new JustGage({
        | id: 'gg4',
        | value: 81,
        | min: 0,
        | max: 100,
        | donut: true,
        | gaugeWidthScale: 0.6,
        | label: "Summary score",
        | counter: true,
        | hideInnerShadow: true
        | });

        | });
