doctype html
html
  include head/head
  body
    include helpers/mixins

    - var pageId = 0;

    include helpers/svg

    div.wrapper

      include header/header

      main.main
        div.container
          div.container__column.container__column_full
            div.section.section_search
              input.input.input_search#headerSearchForm(placeholder='Enter your website here')
            div.section
              +list('list list_horizontal list_alphabet',
                [
                  {
                    name:   'acreinabox.com',
                    href:   'detail.html',
                    title:  'Detail page'
                  },
                  {
                    name:   'alinktv.info',
                    href:   'detail.html',
                    title:  'Detail page'
                  },
                  {
                    name:   '20railroadpublichouse.com',
                    href:   'detail.html',
                    title:  'Detail page'
                  },
                  {
                    name:   'arsolarsystems.com',
                    href:   'detail.html',
                    title:  'Detail page'
                  },
                  {
                    name:   'arabyprof.com',
                    href:   'detail.html',
                    title:  'Detail page'
                  }
                ]
              )
          div.section
            div.container__column.container__column_half
              section.description
                header.description__header
                  svg.description__icon
                    use(xlink:href='#icon-analysis')
                  h2.description__title Traffic Dynamics
                p See any website's traffic performance, and find out what countries the site's visitors are coming from.
                p Improve the performance of your business by using insights from the in-depth processed and combined data that we make avaiable to you.
            div.container__column.container__column_half
              section.description
                header.description__header
                  svg.description__icon
                    use(xlink:href='#icon-map-location')
                  h2.description__title Hosting Location
                p Use the site’s page to see the IP address (if available) of any domain or website.
                p We are able to find a website's hosting location by matching the site's IP address to our extensive location database. Find out where the site is being hosted, and get access to comprehensive info on the location of a site's sever.
        div.container
          div.container__column.container__column_full.section
            +list('list list_horizontal list_alphabet',
              [
                {
                  name:   'A',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'B',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'C',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'D',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'E',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'F',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'G',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'H',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'I',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'J',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'K',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'L',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'M',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'N',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'O',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'P',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'Q',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'R',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'S',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'T',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'U',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'V',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'W',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'X',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'Y',
                  href:   'catalog.html',
                  title:  'Catalog page'
                },
                {
                  name:   'Z',
                  href:   'catalog.html',
                  title:  'Catalog page'
                }
              ]
            )
            +list('list list_horizontal list_alphabet',
              [
                {
                  name: '0',
                  href: 'catalog.html'
                },
                {
                  name: '1',
                  href: 'catalog.html'
                },
                {
                  name: '2',
                  href: 'catalog.html'
                },
                {
                  name: '3',
                  href: 'catalog.html'
                },
                {
                  name: '4',
                  href: 'catalog.html'
                },
                {
                  name: '5',
                  href: 'catalog.html'
                },
                {
                  name: '6',
                  href: 'catalog.html'
                },
                {
                  name: '7',
                  href: 'catalog.html'
                },
                {
                  name: '8',
                  href: 'catalog.html'
                },
                {
                  name: '9',
                  href: 'catalog.html'
                }
              ]
            )

      include footer/footer
