doctype html
html

  include head/head

  body

    include helpers/mixins

    - var pageId = 3;

    include helpers/svg

    div.wrapper

      include header/header

      main.main
        div.container
          div.container__column.container__column_full
            h1 Privacy &amp; policy page

            p 7ip.me respect Google Adsense Privacy Policy : https://www.google.com/adsense/localized-terms 
            p If you require any more information or have any questions about our privacy policy, please feel free to contact us here. 
            p At 7ip.me, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by 7ip.me and how it is used. 
            h2 Log Files
            p Like many other Web sites, 7ip.me makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user’s movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. 
            h3 Cookies and Web Beacons
            p 7ip.me does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser. 
            h3 DoubleClick DART Cookie 
            p .:: Google, as a third party vendor, uses cookies to serve ads on 7ip.me. .:: Google's use of the DART cookie enables it to serve ads to users based on their visit to 7ip.me and other sites on the Internet. p .:: Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - http://www.google.com/privacy_ads.html 
            p Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include .... Google Adsense : https://www.google.com/adsense/localized-terms 
            p These third-party ad servers or ad networks use technology to the advertisements and links that appear on 7ip.me send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see. 
            p 7ip.me has no access to or control over these cookies that are used by third-party advertisers. 
            p You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. 7ip.me's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites. 
            p If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. 

      include footer/footer
