doctype html
html
  include head/head
  body
    include helpers/mixins

    - var pageId = 1;

    include helpers/svg

    div.wrapper

      include header/header

      main.main
        div.container
          div.container__column.container__column_full
            h1 Tools page

      include footer/footer
